.headerContainer {
  padding: 6rem;
  background:#FF5500 ;
  /*background: #FF5500;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem
}

.headerTitle {
  color: #fff;
  font-size: 4rem;
  font-family: 'Squada One', sans-serif;
}

.headerSubtitle {
  color: #fff;
  font-size: 1.6rem;
  font-weight: lighter;
}

.headerImage {
  width: 30%;
}

@media(max-width: 765px) {
  .headerImage {
    width: 100%;
  }
}